<h3>Mettre à jour un employé</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" class="form-control" id="nom" required [(ngModel)]="employee.nom" name="nom">
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" class="form-control" id="prenom" required [(ngModel)]="employee.prenom" name="prenom">
    </div>
    <div class="form-group">
      <label for="adressMail">Adresse eMail</label>
      <input type="text" class="form-control" id="adressMail" required [(ngModel)]="employee.adressMail" name="adressMail">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
